@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter.ttf");
}

@font-face {
  font-family: Permanent Marker;
  src: url("./assets/fonts/PermanentMarker.ttf");
}

.font-permanent-marker {
  font-family: Permanent Marker, sans-serif;
}

html, body {
  font-family: Inter, sans-serif;
}

@layer utilities {
  .fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  .fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
}

.draggable-item {
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}